/* googlefont */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --left-sidebar-text: white;
  --left-sidebar-tab-hover: black;
  --searchbar: #e2e8f0;
  --sidebar: rgb(0, 183, 255);
  --card-border: rgba(240, 180, 41, 0.75);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: inherit; */
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  /* border: 1px solid; */
  font-family: "Roboto", sans-serif;
  background-color: #e2e8f0;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 200px 1fr;
}

/* sidebar */
.left-sidebar {
  background-color: var(--sidebar);
  grid-column: 1/2;
  grid-row: 1 / span 2;
  min-height: 100vh;
  color: var(--left-sidebar-text);
  text-align: left;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.371);
}

.odin-container {
  display: flex;
  gap: 15px;
  /* justify-content: flex-start; */
  align-items: center;
  padding: 1rem;
}
.tab {
  display: flex;
  gap: 15px;
  padding: 12px;
  padding-left: 2rem;
  transition: all ease-in 0.1s;
}
.tab:hover {
  cursor: pointer;
  color: var(--left-sidebar-tab-hover);
  background-color: white;
}
.settings {
  margin-top: 50px;
}

/* header */
.header {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.header-part1 {
  flex: 1;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  gap: 10px;
}
.header-part1 > form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  padding-right: 10px;
}
form > input {
  min-width: 200px;
  width: 80%;
  border-radius: 10px;
  padding: 5px;
  border: none;
  background-color: var(--searchbar);
}
.header-part1 > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.header-part1 .profile {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
}
.header-part1 > div > i {
  font-size: larger;
}

.header-part2 {
  flex: 1;
  padding: 0 20px;
  display: flex;
  gap: 15px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.371);
}
.welcome-container {
  flex: 1;
  display: flex;
  gap: 10px;
  align-items: center;
  /* justify-content: center; */
}
.div2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.header-part2 button {
  background-color: var(--sidebar);
  color: white;
  padding: 0 20px;
  border: none;
  border-radius: 20px;
  height: 2rem;
  width: 6rem;
  transition: all ease-in 0.1s;
}
.header-part2 button:hover {
  color: var(--left-sidebar-tab-hover);
  cursor: pointer;
  height: 2.2rem;
  font-size: large;
}
/* main */
.main {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 20px;
}

.projects {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 45%));
  gap: 20px;
  /* background-color: red; */
}
.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  border-radius: 10px;
  background-color: white;
  border-left: 10px solid var(--card-border);
}
.card > .icons {
  margin-top: 10px;
  flex: 1;
  display: flex;
  justify-content: right;
  gap: 10px;
  align-items: flex-end;
  font-size: large;
}

.card i:hover {
  color: var(--card-border);
  cursor: pointer;
}
